{% extends 'store/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Корзина</h1>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.product.name }} — Кол-во: {{ item.quantity }}  
                    <a href="{% url 'remove_from_cart' item.product.id %}">Удалить</a>
                </li>
            {% endfor %}
        </ul>

        <h3>Общая сумма: {{ total_sum }} тг.</h3>  
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}


