{% extends 'store/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Корзина</h1>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.product.name }} — {{ item.quantity }} шт. — {{ item.item_total }} ₸
                    <a href="{% url 'remove_from_cart' item.product.id %}">Удалить</a>
                </li>
            {% endfor %}
        </ul>
        <p>Итого: {{ total_sum }} ₸</p>
        
        <div id="card-element" style="margin: 20px 0; padding: 10px; border: 1px solid #ccc;"></div>
        <button id="checkout-button" class="btn btn-primary">Оплатить Visa</button>
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        const elements = stripe.elements();
        const cardElement = elements.create('card');
        cardElement.mount('#card-element');

        document.getElementById('checkout-button').addEventListener('click', async () => {
            const { error } = await stripe.confirmCardPayment(
                '{{ client_secret }}', {  
                    payment_method: {
                        card: cardElement,
                    }
                }
            );

            if (error) {
                alert(error.message);
            } else {
                window.location.href = "{% url 'payment_success' %}";
            }
        });
    </script>
{% endblock %}


